.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f1f1f1;
}

.register-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 50px auto;
    background-color: rgb(229, 228, 228);
}


.header {
    font-size: 48px;
    margin-bottom: 30px;
}

.selection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;

}

.button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #016b63;
}

.button:hover {
    background-color:#016b63 ;
}

.role {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d4d4d4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.role:hover {
    background-color: #f6f6f6;
}

.role::before{
    background-color: #016b63;
}
