.sponsorsList {
    width: 30%;
    border-right: 3px solid  #016b63;
    overflow-y: auto;
}
.sponsorsList .selected {
    background-color: #c8e9e5;; /* Choose a color that indicates selection */
}

.sponsorsList > div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 3px solid  #016b63;
    border-left: 3px solid  #016b63;
}

.sponsorsList > div:hover, div::selection {
    background-color:  #c8e9e5;
}

